{
    "database1": {
        "hostname": "192.168.99.100",
        "portNo": "32773",
        "database": "dockerBirthday",
        "collection": "submissions",
        "role": "primary",
        "replicaSetName": "dockerBA"
    },
    "database2": {
        "hostname": "192.168.99.100",
        "portNo": "32774",
        "database": "dockerBirthday",
        "collection": "submissions",
        "role": "secondary",
        "replicaSetName": "dockerBA"
    },
    "database3": {
        "hostname": "192.168.99.100",
        "portNo": "32775",
        "database": "dockerBirthday",
        "collection": "submissions",
        "role": "arbiter",
        "replicaSetName": "dockerBA"
    }
}